--
-- PostgreSQL database dump
--

\restrict zdVusEaWupkUWzittYz2rHJgVwRNatdX4Du4BGZ2w0gZRq2Ozdsnjr9DqZ6nTWL

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."WorkspaceNote" DROP CONSTRAINT IF EXISTS "WorkspaceNote_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserModuleProgress" DROP CONSTRAINT IF EXISTS "UserModuleProgress_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserModuleProgress" DROP CONSTRAINT IF EXISTS "UserModuleProgress_moduleId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserCourse" DROP CONSTRAINT IF EXISTS "UserCourse_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserCourse" DROP CONSTRAINT IF EXISTS "UserCourse_courseId_fkey";
ALTER TABLE IF EXISTS ONLY public."ReadingBook" DROP CONSTRAINT IF EXISTS "ReadingBook_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ProductivityItem" DROP CONSTRAINT IF EXISTS "ProductivityItem_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."FinanceTransaction" DROP CONSTRAINT IF EXISTS "FinanceTransaction_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."FinanceCategory" DROP CONSTRAINT IF EXISTS "FinanceCategory_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ExpHistory" DROP CONSTRAINT IF EXISTS "ExpHistory_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."CourseModule" DROP CONSTRAINT IF EXISTS "CourseModule_courseId_fkey";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."UserModuleProgress_userId_moduleId_key";
DROP INDEX IF EXISTS public."UserCourse_userId_courseId_key";
ALTER TABLE IF EXISTS ONLY public."WorkspaceNote" DROP CONSTRAINT IF EXISTS "WorkspaceNote_pkey";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."UserModuleProgress" DROP CONSTRAINT IF EXISTS "UserModuleProgress_pkey";
ALTER TABLE IF EXISTS ONLY public."UserCourse" DROP CONSTRAINT IF EXISTS "UserCourse_pkey";
ALTER TABLE IF EXISTS ONLY public."ReadingBook" DROP CONSTRAINT IF EXISTS "ReadingBook_pkey";
ALTER TABLE IF EXISTS ONLY public."ProductivityItem" DROP CONSTRAINT IF EXISTS "ProductivityItem_pkey";
ALTER TABLE IF EXISTS ONLY public."FinanceTransaction" DROP CONSTRAINT IF EXISTS "FinanceTransaction_pkey";
ALTER TABLE IF EXISTS ONLY public."FinanceCategory" DROP CONSTRAINT IF EXISTS "FinanceCategory_pkey";
ALTER TABLE IF EXISTS ONLY public."ExpHistory" DROP CONSTRAINT IF EXISTS "ExpHistory_pkey";
ALTER TABLE IF EXISTS ONLY public."Course" DROP CONSTRAINT IF EXISTS "Course_pkey";
ALTER TABLE IF EXISTS ONLY public."CourseModule" DROP CONSTRAINT IF EXISTS "CourseModule_pkey";
DROP TABLE IF EXISTS public."WorkspaceNote";
DROP TABLE IF EXISTS public."UserModuleProgress";
DROP TABLE IF EXISTS public."UserCourse";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."ReadingBook";
DROP TABLE IF EXISTS public."ProductivityItem";
DROP TABLE IF EXISTS public."FinanceTransaction";
DROP TABLE IF EXISTS public."FinanceCategory";
DROP TABLE IF EXISTS public."ExpHistory";
DROP TABLE IF EXISTS public."CourseModule";
DROP TABLE IF EXISTS public."Course";
DROP TYPE IF EXISTS public."ProductivityType";
--
-- Name: ProductivityType; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."ProductivityType" AS ENUM (
    'TODO',
    'WEEKLY',
    'HABIT'
);


ALTER TYPE public."ProductivityType" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Course; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    thumbnail text,
    "totalDuration" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Course" OWNER TO admin;

--
-- Name: CourseModule; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."CourseModule" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    title text NOT NULL,
    duration text NOT NULL,
    "orderIndex" integer NOT NULL,
    "contentMd" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CourseModule" OWNER TO admin;

--
-- Name: ExpHistory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ExpHistory" (
    id text NOT NULL,
    "userId" text NOT NULL,
    amount integer NOT NULL,
    message text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ExpHistory" OWNER TO admin;

--
-- Name: FinanceCategory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."FinanceCategory" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    name text NOT NULL,
    icon text NOT NULL,
    color text NOT NULL,
    bg text NOT NULL,
    border text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FinanceCategory" OWNER TO admin;

--
-- Name: FinanceTransaction; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."FinanceTransaction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    amount double precision NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FinanceTransaction" OWNER TO admin;

--
-- Name: ProductivityItem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ProductivityItem" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."ProductivityType" NOT NULL,
    title text NOT NULL,
    "isCompleted" boolean DEFAULT false NOT NULL,
    day text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastCompleted" timestamp(3) without time zone,
    streak integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."ProductivityItem" OWNER TO admin;

--
-- Name: ReadingBook; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ReadingBook" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    author text NOT NULL,
    "totalPages" integer DEFAULT 0 NOT NULL,
    "readPages" integer DEFAULT 0 NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "currentChapter" text,
    status text DEFAULT 'PLAN_TO_READ'::text NOT NULL
);


ALTER TABLE public."ReadingBook" OWNER TO admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    exp integer DEFAULT 0 NOT NULL,
    gold integer DEFAULT 50 NOT NULL,
    level integer DEFAULT 1 NOT NULL,
    "maxExp" integer DEFAULT 1000 NOT NULL,
    "playerClass" text DEFAULT 'Novice Scholar'::text NOT NULL
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: UserCourse; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."UserCourse" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "courseId" text NOT NULL,
    "progressPercent" double precision DEFAULT 0.0 NOT NULL,
    status text DEFAULT 'LEARNING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserCourse" OWNER TO admin;

--
-- Name: UserModuleProgress; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."UserModuleProgress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "moduleId" text NOT NULL,
    "isCompleted" boolean DEFAULT false NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserModuleProgress" OWNER TO admin;

--
-- Name: WorkspaceNote; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."WorkspaceNote" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WorkspaceNote" OWNER TO admin;

--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: CourseModule; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ExpHistory; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: FinanceCategory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."FinanceCategory" (id, "userId", type, name, icon, color, bg, border, "createdAt") FROM stdin;
59c7a0c4-525c-4382-bc38-4afcd451c0ce	18392b4b-ca12-4f79-aab6-aafcf613954f	EXPENSE	HHS	Car	text-blue-400	bg-blue-500/20	border-blue-500/30	2026-06-23 07:21:59.018
\.


--
-- Data for Name: FinanceTransaction; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ProductivityItem; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ReadingBook; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."ReadingBook" (id, "userId", title, author, "totalPages", "readPages", notes, "createdAt", "updatedAt", "currentChapter", status) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: UserCourse; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."UserCourse" (id, "userId", "courseId", "progressPercent", status, "createdAt", "updatedAt") FROM stdin;
22076826-eb9a-402c-b3dd-c9c48cb962b6	557a9cfb-d8b4-404e-b543-49b704ce5fbc	a8338d78-8e1e-4b5d-a2dc-ad5b41eac016	0	LEARNING	2026-06-23 07:35:42.191	2026-06-23 07:35:42.191
\.


--
-- Data for Name: UserModuleProgress; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."UserModuleProgress" (id, "userId", "moduleId", "isCompleted", "completedAt", "createdAt", "updatedAt") FROM stdin;
a7a3d078-ade9-4b2a-9651-858e16c3d59a	18392b4b-ca12-4f79-aab6-aafcf613954f	82a01573-368e-4832-a579-aaf6c935dbea	t	2026-06-23 08:11:00.105	2026-06-23 08:11:00.107	2026-06-23 08:11:00.107
0b74bf6c-66fa-47e8-8856-8ee7d4cbd412	5c30135b-8211-4007-8e6f-9077799eb473	b161b3c2-5a86-4575-a110-7cf53f2cf57a	t	2026-06-23 08:22:05.938	2026-06-23 08:22:05.939	2026-06-23 08:22:05.939
\.


--
-- Data for Name: WorkspaceNote; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."WorkspaceNote" (id, "userId", title, content, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: CourseModule CourseModule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CourseModule"
    ADD CONSTRAINT "CourseModule_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: ExpHistory ExpHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ExpHistory"
    ADD CONSTRAINT "ExpHistory_pkey" PRIMARY KEY (id);


--
-- Name: FinanceCategory FinanceCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FinanceCategory"
    ADD CONSTRAINT "FinanceCategory_pkey" PRIMARY KEY (id);


--
-- Name: FinanceTransaction FinanceTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FinanceTransaction"
    ADD CONSTRAINT "FinanceTransaction_pkey" PRIMARY KEY (id);


--
-- Name: ProductivityItem ProductivityItem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ProductivityItem"
    ADD CONSTRAINT "ProductivityItem_pkey" PRIMARY KEY (id);


--
-- Name: ReadingBook ReadingBook_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ReadingBook"
    ADD CONSTRAINT "ReadingBook_pkey" PRIMARY KEY (id);


--
-- Name: UserCourse UserCourse_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserCourse"
    ADD CONSTRAINT "UserCourse_pkey" PRIMARY KEY (id);


--
-- Name: UserModuleProgress UserModuleProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserModuleProgress"
    ADD CONSTRAINT "UserModuleProgress_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorkspaceNote WorkspaceNote_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."WorkspaceNote"
    ADD CONSTRAINT "WorkspaceNote_pkey" PRIMARY KEY (id);


--
-- Name: UserCourse_userId_courseId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "UserCourse_userId_courseId_key" ON public."UserCourse" USING btree ("userId", "courseId");


--
-- Name: UserModuleProgress_userId_moduleId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "UserModuleProgress_userId_moduleId_key" ON public."UserModuleProgress" USING btree ("userId", "moduleId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: CourseModule CourseModule_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CourseModule"
    ADD CONSTRAINT "CourseModule_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExpHistory ExpHistory_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ExpHistory"
    ADD CONSTRAINT "ExpHistory_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FinanceCategory FinanceCategory_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FinanceCategory"
    ADD CONSTRAINT "FinanceCategory_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FinanceTransaction FinanceTransaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."FinanceTransaction"
    ADD CONSTRAINT "FinanceTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductivityItem ProductivityItem_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ProductivityItem"
    ADD CONSTRAINT "ProductivityItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReadingBook ReadingBook_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ReadingBook"
    ADD CONSTRAINT "ReadingBook_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserCourse UserCourse_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserCourse"
    ADD CONSTRAINT "UserCourse_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserCourse UserCourse_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserCourse"
    ADD CONSTRAINT "UserCourse_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserModuleProgress UserModuleProgress_moduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserModuleProgress"
    ADD CONSTRAINT "UserModuleProgress_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES public."CourseModule"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserModuleProgress UserModuleProgress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserModuleProgress"
    ADD CONSTRAINT "UserModuleProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkspaceNote WorkspaceNote_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."WorkspaceNote"
    ADD CONSTRAINT "WorkspaceNote_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict zdVusEaWupkUWzittYz2rHJgVwRNatdX4Du4BGZ2w0gZRq2Ozdsnjr9DqZ6nTWL

